/* background color outside the content and color of all the text */
body {
    background-color: #0c0032;
    color: white;
}
/* Background color of the Navigation bar */
nav {
    background-color: #3500D3;
}
/* BG color of the content of the page */
/* There is also some postioning rules to center te content vertically in the page */
article {
    background-color: #190061;
    position: relative;
    top: 100px;
}
/* Removes positioning of the content on smaller screens */
@media screen and (max-width: 620px) {
    article {
        top: 0px;
    }
}